
{% extends 'default.html' %}
{%block content%}
					<!--begin::Toolbar-->
					<div class="toolbar py-5 py-lg-15" id="kt_toolbar">
						<!--begin::Container-->
						<div id="kt_toolbar_container" class="container-xxl d-flex flex-stack flex-wrap">
							<!--begin::Page title-->
							<div class="page-title d-flex flex-column">
								<!--begin::Title-->
								<h1 class="d-flex text-white fw-bolder fs-2qx my-1 me-5">Ajouter un client</h1>
								
								<!--end::Title-->
								<!--begin::Breadcrumb-->
								<ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
									<!--begin::Item-->
									<li class="breadcrumb-item text-white opacity-75">
										<a href="{{url_for('index')}}" class="text-white text-hover-primary">Accueil</a>
									</li>
									<!--end::Item-->
									<!--begin::Item-->
									<li class="breadcrumb-item">
										<span class="bullet bg-white opacity-75 w-5px h-2px"></span>
									</li>
									<!--end::Item-->
									<!--begin::Item-->
									<a href="{{url_for('clients')}}"><li class="breadcrumb-item text-white opacity-75">Liste des clients </li></a>
									<!--end::Item-->
							 
								 
								</ul>
								<!--end::Breadcrumb-->
							</div>
							<!--end::Page title-->
							 
						</div>
						<!--end::Container-->
					</div>
					<!--end::Toolbar-->
					<!--begin::Container-->
					<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
						<!--begin::Post-->
						<div class="content flex-row-fluid" id="kt_content">
							{% if msg_err : %}
								<!--begin::Alert-->
								<div class="alert alert-danger   col-md-6 justify-content-center">
									<!--begin::Icon-->
									<span class="svg-icon svg-icon-2hx svg-icon-primary me-3">!!!</span>
									<!--end::Icon-->

									<!--begin::Wrapper-->
									<div class="d-flex flex-column">
										<!--begin::Title-->
										<h4 class="mb-1 text-dark">{{msg_err}}</h4>
										<!--end::Title-->
									</div>
									<!--end::Wrapper-->
								</div>
								<!--end::Alert-->
							{% endif %}
							{% if message_succ : %}
								<!--begin::Alert-->
								<div class="alert alert-success   col-md-6 justify-content-center">
									<!--begin::Icon-->
									<span class="svg-icon svg-icon-2hx svg-icon-primary me-3">!!!</span>
									<!--end::Icon-->

									<!--begin::Wrapper-->
									<div class="d-flex flex-column">
										<!--begin::Title-->
										<h4 class="mb-1 text-dark">{{message_succ}}</h4>
										<!--end::Title-->
									</div>
									<!--end::Wrapper-->
								</div>
								<!--end::Alert-->
							{% endif %}
							
							<!--begin::Layout - Settings-->
							<div class="d-flex flex-column flex-xl-row">
							 
								<!--begin::Content-->
								<div class="flex-lg-row-fluid ">
									<!--begin::Basic info-->
									<div class="card mb-5 mb-xl-10">
										<!--begin::Card header-->
										<div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
											<!--begin::Card title-->
											<div class="card-title m-0">
												<h3 class="fw-bolder m-0">Ajouter un client</h3>
											</div>
											<!--end::Card title-->
											
										</div>
										<!--begin::Card header-->
									
										<!--begin::Content-->
										<div id="kt_account_settings_profile_details" class="collapse show">
											
											<!--begin::Form-->
											<form id="kt_account_profile_details_form" class="form" action="{{url_for('ajouter_client')}}" method="POST">
												<!--begin::Card body-->
												<div class="card-body border-top p-9">
													{{form.hidden_tag()}}
													<!--begin::Input group-->
													<div class="row mb-6">
														<!--begin::Label-->
														{{form.name.label(class="col-lg-4 col-form-label required fw-bold fs-6")}}
														<!--end::Label-->
														<!--begin::Col-->
														<div class="col-lg-8 fv-row">
															{{form.name(class="form-control form-control-lg form-control-solid", placeholder="Nom / Prenom")}}
														</div>
														<!--end::Col-->
														
													</div>
													<!--end::Input group-->
													<!--begin::Input group-->
													<div class="row mb-6">
														<!--begin::Label-->
														{{form.email.label(class="col-lg-4 col-form-label required fw-bold fs-6")}}
														<!--end::Label-->
														<!--begin::Col-->
														<div class="col-lg-8 fv-row">
															{{form.email(class="form-control form-control-lg form-control-solid", placeholder="Email")}}
														</div>
														<!--end::Col-->
													</div>
													<!--end::Input group-->
													<!--begin::Input group-->
													<div class="row mb-6">
														<!--begin::Label-->
														{{form.phone_number.label(class="col-lg-4 col-form-label required fw-bold fs-6")}}
														<!--end::Label-->
														<!--begin::Col-->
														<div class="col-lg-8 fv-row">
															{{form.phone_number(class="form-control form-control-lg form-control-solid", placeholder="Telephone")}}
														</div>
														<!--end::Col-->
													</div>
													<!--end::Input group-->
													<!--begin::Input group-->
													<div class="row mb-6">
														<!--begin::Label-->
														{{form.brand_name.label(class="col-lg-4 col-form-label required fw-bold fs-6")}}
														<!--end::Label-->
														<!--begin::Col-->
														<div class="col-lg-8 fv-row">
															{{form.brand_name(class="form-control form-control-lg form-control-solid", placeholder="Nom de la marque")}}
														</div>
														<!--end::Col-->
														
													</div>
													<!--end::Input group-->
													<!--begin::Input group-->
													<div class="row mb-6">
														<!--begin::Label-->
														{{form.adresse_deliv.label(class="col-lg-4 col-form-label required fw-bold fs-6")}}
														<!--end::Label-->
														<!--begin::Col-->
														<div class="col-lg-8 fv-row">
															{{form.adresse_deliv(class="form-control form-control-lg form-control-solid", placeholder="Adresse de livraison")}}
														</div>
														<!--end::Col-->
													</div>
													<!--end::Input group-->
														<!--begin::Input group-->
														<div class="row mb-6">
															<!--begin::Label-->
															{{form.city.label(class="col-lg-4 col-form-label required fw-bold fs-6")}}
															<!--end::Label-->
															<!--begin::Col-->
															<div class="col-lg-8 fv-row">
																{{form.city(class="form-control form-control-lg form-control-solid", placeholder="Ville")}}
															</div>
															<!--end::Col-->
														</div>
														<!--end::Input group-->
														<!--end::Input group-->
														<!--begin::Input group-->
														<div class="row mb-6">
														<!--begin::Label-->
														{{form.pays.label(class="col-lg-4 col-form-label required fw-bold fs-6")}}
														<!--end::Label-->
														<!--begin::Col-->
														<div class="col-lg-8 fv-row">
															{{form.pays(class="form-control form-control-lg form-control-solid", placeholder="Pays")}}
														</div>
														<!--end::Col-->
													</div>
													<!--end::Input group-->

													<!--begin::Label-->
													<div class="row mb-6">
													{{form.communication.label(class="col-lg-4 col-form-label required fw-bold fs-6")}}
													<!--end::Label-->
													<!--begin::Col-->
													<div class="col-lg-8 fv-row">
															{{form.communication(class="form-select form-select-solid form-select-lg fw-bold", placeholder="Communicaton")}}
														</div>
														<!--end::Col-->
													</div>
													<!--end::Input group-->
													<hr>
													<!--begin::Label-->
													<div class="row mb-6">
														{{form.devis.label(class="col-lg-4 col-form-label required fw-bold fs-6")}}
														<!--end::Label-->
													<!--begin::Col-->
													<div class="col-lg-8 fv-row">
														{{form.devis(class="form-select form-select-solid form-select-lg fw-bold", id="avecdevis", placeholder="Avec devis ?")}}
													</div>
													<!--end::Col-->
													</div>
													<!--end::Input group-->

													<!--begin:: devis_form -->

													<div  id="form_devis" style="display: none;">
														<div class="row mb-6" d="box1" > 
															<div class="col-lg-10 mb-4 mb-lg-0" i>
																<div class="fv-row mb-0">
																	{{form.description_pr.label(class="orm-label fs-6 fw-bolder mb-3")}}
																	{{form.description_pr(class="form-control form-control-lg form-control-solid", placeholder="Description")}}
																</div>
															</div>
															<div class="col-lg-2">
																<div class="fv-row mb-0">
																	{{form.qte_pr.label(class="orm-label fs-6 fw-bolder mb-3")}}
																	{{form.qte_pr(class="form-control form-control-lg form-control-solid", placeholder="Quantite")}}
																</div>
															</div>
														 </div>
													</div>
													<!--end::Input group-->
													<div class="card-footer d-flex justify-content-end py-6 px-9">
														<button class="btn btn-light btn-active-light-primary me-2" type="button" id="plusButton"
														onclick="add_row()">ADD</button>
													</div>
													<!--end:: devis_form -->


												</div>
												<!--end::Card body-->
												<!--begin::Actions-->
												<div class="card-footer d-flex justify-content-end py-6 px-9">
													<a href="{{url_for('index')}}"><button type="reset" class="btn btn-light btn-active-light-primary me-2">Retours</button></a>
													{{form.submit(class="btn btn-primary", placeholder="Pays")}}
												</div>
												<!--end::Actions-->
											</form>
											<!--end::Form-->
										</div>
										<!--end::Content-->
									</div>
									<!--end::Basic info-->
									 
							
								</div>
								<!--end::Content-->
							</div>
							<!--end::Layout - Settings-->
						</div>
						<!--end::Post-->
					</div>
					<!--end::Container-->
					<!--begin::Footer-->
					<div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
						<!--begin::Container-->
						<div class="container-xxl d-flex flex-column flex-md-row align-items-center justify-content-between">
							<!--begin::Copyright-->
							<div class="text-dark order-2 order-md-1">
								<span class="text-muted fw-bold me-1">2022©</span>
								<a href="www.comeit.ma" target="_blank" class="text-gray-800 text-hover-primary">COMEIT PACKAGING</a>
							</div>
							<!--end::Copyright-->
						 
						</div>
						<!--end::Container-->
					</div>
					<!--end::Footer-->
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Root-->
 
	  
	 
		<!--begin::Scrolltop-->
		<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
			<!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
			<span class="svg-icon">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
					<rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="currentColor" />
					<path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="currentColor" />
				</svg>
			</span>
			<!--end::Svg Icon-->
		</div>
		<!--end::Scrolltop-->
	 
	 
		<!--begin::Javascript-->
		<script>var hostUrl = "";</script>


		<!--begin::Global Javascript Bundle(used by all pages)-->
		<script src="{{url_for('static', filename='/plugins/global/plugins.bundle.js')}}"></script>
		<script src="{{url_for('static', filename='/js/scripts.bundle.js')}}"></script>
		<!--end::Global Javascript Bundle-->
		<!--begin::Page Vendors Javascript(used by this page)-->
		<script src="{{url_for('static', filename='/plugins/custom/datatables/datatables.bundle.js')}}"></script>
		<!--end::Page Vendors Javascript-->
		<!--begin::Page Custom Javascript(used by this page)-->
		<script src="{{url_for('static', filename='/js/custom/account/settings/signin-methods.js')}}"></script>
		<script src="{{url_for('static', filename='/js/custom/account/settings/profile-details.js')}}"></script>
		<script src="{{url_for('static', filename='/js/custom/account/settings/deactivate-account.js')}}"></script>
		<script src="{{url_for('static', filename='/js/widgets.bundle.js')}}"></script>
		<script src="{{url_for('static', filename='/js/custom/widgets.js')}}"></script>
		<script src="{{url_for('static', filename='/js/custom/apps/chat/chat.js')}}"></script>
		<script src="{{url_for('static', filename='/js/custom/intro.js')}}"></script>
		<script src="{{url_for('static', filename='/js/custom/utilities/modals/upgrade-plan.js')}}"></script>
		<script src="{{url_for('static', filename='/js/custom/utilities/modals/create-campaign.js')}}"></script>
		<script src="{{url_for('static', filename='/js/custom/utilities/modals/users-search.js')}}"></script>
		<!--end::Page Custom Javascript-->
		<!--end::Javascript-->

		<script>

document.getElementById("avecdevis").addEventListener("change", avecdevisFunction);

function avecdevisFunction() {
	var avecDevis = document.getElementById("avecdevis").value;
	if (avecDevis == 'Oui')
		document.getElementById("form_devis").style.display = "";
	else 
		document.getElementById("form_devis").style.display = "none";
}


			var row = 2;


function delete_row(unID) {
	row--;
	idName = "#box" + unID
	$(idName).remove();



}


function add_row() {
	if (row >= 1 && row <= 20) {

		$("#form_devis").append(
			
		`	<div  class="row mb-6" id="box`+ row + `" >
		
			<div class="col-lg-10 mb-4 mb-lg-0" >
			
				<div class="fv-row mb-0">
					{{form.description_pr.label(class="orm-label fs-6 fw-bolder mb-3")}}
					{{form.description_pr(class="form-control form-control-lg form-control-solid", placeholder="Description")}}
				</div>
			</div>
			<div class="col-lg-2">
				<div class="fv-row mb-0">
					{{form.qte_pr.label(class="orm-label fs-6 fw-bolder mb-3")}}
					{{form.qte_pr(class="form-control form-control-lg form-control-solid", placeholder="Quantite")}}
				</div>
			</div>
			<div class="card-footer d-flex justify-content-end py-6 px-9">
			<button	class="btn btn-outline-danger btn-lg"	id="remove" type="button"	onclick="delete_row(`+ row + `)" > REMOVE   </button>
			</div>
			`

		);

		//name_count++;
		//binary_count++;

		row++;
	} else {
		document.getElementById("plusButton").style.display = "none";
	}
}

		</script>
	</body>
	<!--end::Body-->
    
{%endblock%}
</html>